.sectionAbout {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(3, 26, 49, 0.614),
      rgba(3, 26, 49, 0.501)
    ),
    url(../../public/images/about.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  position: relative;
  z-index: 1;
}
.containerAbout {
  max-width: 135rem;
  margin: 0 auto;
  padding: 7rem 5rem;
}
.subHeading {
  /* 24 / 30 / 36 / 44 / 52 /  */
  color: #ced4da;
  display: inline-block;
  font-size: 4.4rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  text-align: center !important;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 4rem 0;
  font-weight: 600;
  transition: all 0.3s;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
  background-image: linear-gradient(to right, #f8f9fa, #adb5bd);
  -webkit-background-clip: text;
  color: transparent;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.subHeading:hover {
  transform: skewY(1deg) skewX(5deg);
}
.line {
  display: inline-block;
  border-bottom: 3px solid #e32b6b;
  width: 18%;
  height: 5px;
  margin: -2rem auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/*  */
.sectionAboutBox {
  background-color: #031a31;
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  max-width: 155rem;
  z-index: 0;
  margin-top: -10rem;
  padding: 15rem 0;
}
.headingSecondary {
  font-size: 4.4rem;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
  background-image: linear-gradient(to right, #f8f9fa, #adb5bd);
  -webkit-background-clip: text;
  color: transparent;
}
.headingSecondary:hover {
  transform: skewY(1deg) skewX(1deg) scaleX(1.1);
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Bellow 1344px */
@media (max-width: 84em) {
}
.containerAbout {
  max-width: 130rem;
  margin: 0 auto;
  padding: 7rem 5rem;
}
/* Bellow 1200px */
@media (max-width: 75em) {
  .containerAbout {
    max-width: 120rem;
    margin: 0 auto;
    padding: 9rem 5rem;
  }
}
/* Bellow 847px */
@media (max-width: 52.93em) {
  .containerAbout {
    max-width: 100rem;
    margin: 0 auto;
    padding: 9rem 3rem;
  }
  .subHeading {
    /* 24 / 30 / 36 / 44 / 52 /  */
    color: #ced4da;
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    text-align: center !important;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5rem 0;
    font-weight: 600;
    transition: all 0.3s;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
    cursor: pointer;
  }
  .headingSecondary {
    font-size: 4rem;
    text-align: center;
  }
}
/* Bellow 567px */
@media (max-width: 35.43em) {
  .containerAbout {
    max-width: 100rem;
    margin: 0 auto;
    padding: 9rem 3.2rem;
  }
  .sectionAboutBox {
    background-color: #031a31;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    max-width: 155rem;
    z-index: 0;
    margin-top: -10rem;
    padding: 15rem 0 10rem 0;
  }
}
/* Bellow 400px */
@media (max-width: 25em) {
  .headingSecondary {
    font-size: 3.6rem;
    line-height: 1.5;
  }
  .containerAbout {
    max-width: 100rem;
    margin: 0 auto;
    padding: 7rem 2.4rem;
  }
}
