.sliderContainer {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 5rem 0 10rem 0;
}
.sliderLogo {
  display: flex;
  gap: 1rem;
  width: max-content;
}
.logoItem {
  flex: 0 0 220px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImg {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: grayscale(100%);
  opacity: 50%;
  transition: transform 0.3s ease-in-out;
}
.sectionCV {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Bellow 950px */
@media (max-width: 59.375em) {
  .logoItem {
    flex: 0 0 180px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoImg {
    width: 80px;
    height: 80px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 50%;
    transition: transform 0.3s ease-in-out;
  }
}
/* Bellow 847px */
@media (max-width: 52.93em) {
  .sliderContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 2.4rem 0 4.8rem 0;
  }
  .logoItem {
    flex: 0 0 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoImg {
    width: 60px;
    height: 60px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 50%;
    transition: transform 0.3s ease-in-out;
  }
}
/* Bellow 567px */
@media (max-width: 35.43em) {
  .sliderContainer {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 0 4.8rem 0;
  }
  .logoItem {
    flex: 0 0 90px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logoImg {
    width: 40px;
    height: 40px;
    object-fit: contain;
    filter: grayscale(100%);
    opacity: 50%;
    transition: transform 0.3s ease-in-out;
  }
}
