.sectionProjectDetails {
  background-color: #031a31;
  max-width: 155rem;
  margin: 0 auto;
  height: 100vh;
}
.containerProjectBoxDetails {
  padding: 3.2rem 0 4.8rem 0;
}
.containerProjectDetails {
  margin: 8rem 0 8rem 0;
}
.headingTertiary {
  background-image: linear-gradient(to right, #f8f9fa, #adb5bd);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.6rem;
  line-height: 1.4;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  transition: all 0.3s;
}
.imageWrapper {
  position: relative;
  width: 100%;
  object-fit: cover;
  border-radius: 3rem;
  overflow: hidden;
}
.imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem;
  overflow: hidden;
}
.imageWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.imageWrapper:hover::before {
  opacity: 0;
}
/* Apply styles to the image container (figure) */
.projectsImg {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.3s ease-in-out;
}

.imageWrapper:hover .projectsImg {
  transform: scale(1.05);
  opacity: 1;
}
.gridItemProjectDetails {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  height: 100%;
}
.projectDetailsItem {
  font-size: 2rem;
  color: #ced4da;
  font-weight: 500;
}
.paragraphDescription {
  font-size: 1.8rem;
  line-height: 1.7;
  font-weight: 400;
  hyphens: auto;
  color: #f8f9fa;
}
.skill {
  font-size: 2rem;
  text-transform: capitalize;
  margin: 0 2px;
}
.btnNav {
  background-color: #e32b6b;
  color: #ced4da;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 0.3s ease;
  position: relative;
  margin: 0 1px;
  display: inline-block;
}
.btnNav:hover,
.btnNav:active {
  padding: 0.5rem 1rem;
  background-color: #e73674;
  transform: translateY(-1px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.btnNav::after {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: #e32b6b;
  transition: all 0.3s;
  filter: blur(0);
  transform-origin: center center;
  z-index: -2;
}
.btnNav:hover::after {
  transform: scale(1.1);
  opacity: 0;
  filter: blur(2px);
}

.projectDetailsLink {
  display: inline-block;
  text-decoration: none;
  color: #f8f9fa;
  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  text-transform: capitalize;
}
.backButton {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #f8f9fa;
  text-transform: capitalize;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s;
  width: fit-content;
  margin-top: 6.4rem;
  padding: 1.4rem 2.8rem;
  background-color: #e32b6b;
  border-radius: 3rem;
  position: relative;
  z-index: 10;
}
.backButton {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.8rem;
}
.backButton:hover,
.backButton:active {
  padding: 1.4rem 2.8rem;
  background-color: #e73674;
  transform: translateY(-2px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.backButton::after {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: #e32b6b;
  transition: all 0.3s;
  filter: blur(0);
  transform-origin: center center;
  z-index: -2;
}
.backButton:hover::after {
  transform: scale(1.1);
  opacity: 0;
  filter: blur(2px);
}
.arrowIcon {
  color: #f8f9fa;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
}
.backBtn {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
  color: #f8f9fa;
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-self: center !important;
}
/* Bellow 1344px */
@media (max-width: 84em) {
}
/* Bellow 1200px */
@media (max-width: 75em) {
  html {
    /*10 / 16 = 0.625 * 100 = 62.5 */
    /* 1rem = 1em = 16px */
    overflow-x: hidden;
    font-size: 56.25%;
    scroll-behavior: smooth;
    hyphens: auto;
  }

  .containerProjectDetails {
    margin: 9.8rem 0 8rem 0;
  }
}
/* Bellow 950px */
@media (max-width: 59.375em) {
  html {
    font-size: 50%;
  }
  .containerProjectDetails {
    margin: 12rem 0 12.8rem 0;
  }

  .imageWrapper {
    position: relative;
    align-self: stretch; /* Stretches the container */
    width: 100%; /* Make sure the width is 100% */
  }
  .imageWrapper img {
    width: 100%;
    height: 100%; /* Make the image take up the full container's height */
    object-fit: cover; /* Maintain the aspect ratio while covering the container */
    border-radius: 0.5rem; /* Optional: For rounded corners */
    justify-self: center; /* Centers the image horizontally */
  }
}
/* Bellow 847px */
@media (max-width: 52.93em) {
  .containerProjectDetails {
    margin: 12rem 0 12.8rem 0;
  }
  .imageWrapper {
    position: relative;
    align-self: stretch; /* Stretches the container */
    width: 100%; /* Make sure the width is 100% */
  }
  .imageWrapper img {
    width: 100%;
    height: 100%; /* Make the image take up the full container's height */
    object-fit: cover; /* Maintain the aspect ratio while covering the container */
    border-radius: 0.5rem; /* Optional: For rounded corners */
    justify-self: center; /* Centers the image horizontally */
  }
}
/* Bellow 567px */
@media (max-width: 35.43em) {
  .sectionProjectDetails {
    height: auto;
  }
  .containerProjectDetails {
    margin: 4.8rem 0 3.2rem 0;
  }

  .imageWrapper img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 3rem;
    overflow: hidden;
  }
  .imageWrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    );
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    width: 100%;
    height: 80%;
    border-radius: 3rem;
  }
  .gridItemProjectDetails {
    margin-top: -8rem;
    gap: 1.2rem;
    height: auto;
  }
  .backButton {
    margin-top: 6.4rem;
  }
}
/* Bellow 400px */
@media (max-width: 25em) {
  .sectionProjectDetails {
    height: auto;
  }
  .containerProjectDetails {
    margin: 3.2rem 0 2.4rem 0;
  }

  .imageWrapper img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 3rem;
    overflow: hidden;
  }
  .imageWrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.5)
    );
    z-index: 1;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    width: 100%;
    height: 80%;
    border-radius: 3rem;
  }
  .gridItemProjectDetails {
    margin-top: -6.4rem;
    gap: 1.2rem;
    height: auto;
  }
  .backButton {
    margin-top: 3.2rem;
  }
}
