.sectionProjects {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(3, 26, 49, 0.614),
      rgba(3, 26, 49, 0.501)
    ),
    url("../../public/images/project.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  position: relative;
  z-index: 1;
}
.containerProject {
  max-width: 135rem;
  margin: 0 auto;
  padding: 7rem 5rem;
}
.subHeading {
  /* 24 / 30 / 36 / 44 / 52 /  */
  color: #ced4da;
  display: inline-block;
  font-size: 4.4rem;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  text-align: center !important;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 4rem 0;
  font-weight: 600;
  transition: all 0.3s;
  animation-name: moveInLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
  background-image: linear-gradient(to right, #f8f9fa, #adb5bd);
  -webkit-background-clip: text;
  color: transparent;
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.subHeading:hover {
  transform: skewY(1deg) skewX(5deg);
}
.line {
  display: inline-block;
  border-bottom: 3px solid #e32b6b;
  width: 18%;
  height: 5px;
  margin: -2rem auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.headingSecondary {
  font-size: 4.4rem;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  cursor: pointer;
  background-image: linear-gradient(to right, #f8f9fa, #adb5bd);
  -webkit-background-clip: text;
  color: transparent;
}
.headingSecondary:hover {
  transform: skewY(1deg) skewX(1deg) scaleX(1.1);
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*  */
.sectionProjectsBox {
  background-color: #031a31;
  clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
  max-width: 155rem;
  z-index: 0;
  margin-top: -10rem;
  padding: 15rem 0;
  height: auto;
}
.containerProjectBox {
  max-width: 135rem;
  margin: 0 auto;
  padding: 5rem 5rem 0 5rem;
}
.projectsBox {
  transition: all 0.3s;
  animation-name: moveInTop;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
  animation-fill-mode: backwards;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  80% {
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.headingTertiary {
  font-size: 3.6rem;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 2.4rem;
  /* color: #ced4da !important; */
  background-image: linear-gradient(to right, #f8f9fa, #adb5bd);
  -webkit-background-clip: text;
  color: transparent;
}
.containerProjectsBoxText {
  padding: 12.8rem 0 0rem 0;
}
.containerProjectsBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  justify-content: center;
  column-gap: 2.4rem;
  row-gap: 4.8rem;
}

.projectsParagraph {
  padding: 0 0 5rem 0;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.7;
  color: #ced4da !important;
  text-align: center;
}
.projectNavigation {
  padding: 4.8rem 0 6.4rem 0;
}
/* Navigation Styles */
.navProjects {
  display: flex;

  justify-content: center;
  align-items: center;
  column-gap: 3.2rem;
  row-gap: 6.4rem;
  padding: 0 4rem;
  max-width: 100%;
  animation-name: moveInTop;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
}

.btnNav {
  background-color: #e32b6b;
  color: #ced4da;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-bottom: 0.3s ease;
  position: relative;
}
.btnNav::after {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: #e32b6b;
  transition: all 0.3s;
  filter: blur(0);
  transform-origin: center center;
  z-index: -1;
}
.btnNav:hover::after {
  transform: scale(1.2);
  opacity: 0;
  filter: blur(3px);
}

/* Active Button Styles with Bottom Border */
.navProjects .btnNavActive {
  background-color: #ced4da;
  color: #343a40;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #343a40; /* Bottom border when active */
}
.btnCategory {
  text-decoration: none;
  color: #ced4da;
}
.navProjects .btnNavActive {
  border-bottom: 2px solid #343a40 !important;
}

.containerProjectsBoxCards {
  transition: all 0.3s;
  animation-name: moveInBottom;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  backface-visibility: hidden;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  80% {
    transform: translateY(0px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.containerProjectsBoxCardsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: stretch;
  gap: 2.4rem;
}
.cardProject {
  background-color: #011324;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.1);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
}
.cardProject:hover {
  background-color: #011120;
  transform: translateY(-5px);
}
.imageWrapper {
  position: relative;
  width: 100%;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  overflow: hidden;
}
.imageWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.imageWrapper:hover::before {
  opacity: 0;
}
/* Apply styles to the image container (figure) */
.projectsImg {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.imageWrapper:hover .projectsImg {
  transform: scale(1.05);
  opacity: 1;
}

.headingProjectsTitle {
  font-size: 1.6rem;
  color: #ced4da;
  font-weight: 600;
  line-height: 1.5;
  cursor: auto;
}
.cardDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
  padding: 1.2rem 1rem;
  width: 100%;
}
.btnLinkProject {
  box-shadow: 0 5px 10px 0 rgba(1, 1, 1, 0.1);
  border: none;
  background-color: #e32b6b;
  padding: 0.8rem 1.2rem;
  border-radius: 3rem;
  position: relative;
}
.btnLinkProject::after {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3rem;
  background: #e32b6b;
  transition: all 0.3s;
  filter: blur(0);
  transform-origin: center center;
  z-index: -1;
}
.btnLinkProject:hover::after {
  transform: scale(1.2);
  opacity: 0;
  filter: blur(3px);
}

.projectsLink {
  font-size: 1.6rem;
  text-decoration: none;
  color: #ced4da;
}
/* Bellow 1344px */
@media (max-width: 84em) {
  .containerProject {
    max-width: 130rem;
    margin: 0 auto;
    padding: 7rem 5rem;
  }
  .containerProjectBox {
    max-width: 130rem;
    margin: 0 auto;
    padding: 5rem 5rem 0 5rem;
  }
  .projectNavigation {
    padding: 3.2rem 0 4.8rem 0;
  }
}
/* Bellow 1200px */
@media (max-width: 75em) {
  html {
    /*10 / 16 = 0.625 * 100 = 62.5 */
    /* 1rem = 1em = 16px */
    overflow-x: hidden;
    font-size: 56.25%;
    scroll-behavior: smooth;
    hyphens: auto;
  }
  .containerProject {
    max-width: 120rem;
    margin: 0 auto;
    padding: 9rem 5rem;
  }
  .containerProjectBox {
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem 5rem 0 5rem;
  }
}
/* Bellow 847px */
@media (max-width: 52.93em) {
  .containerProject {
    max-width: 100rem;
    margin: 0 auto;
    padding: 9rem 3rem;
  }
  .containerProjectBox {
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem 3rem 0 3rem;
  }
  .subHeading {
    /* 24 / 30 / 36 / 44 / 52 /  */
    color: #ced4da;
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    text-align: center !important;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 5rem 0;
    font-weight: 600;
    transition: all 0.3s;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    backface-visibility: hidden;
    cursor: pointer;
  }
  .headingSecondary {
    font-size: 4rem;
    text-align: center;
  }
  /* Navigation Styles */
  .navProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0 3rem;
  }

  .btnNav {
    padding: 0.8rem 1rem;
  }
  .containerProjectsBoxCardsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: stretch;
    column-gap: 3.2rem;
    row-gap: 4.8rem;
  }
}
/* Bellow 567px */
@media (max-width: 35.43em) {
  .sectionProjectsBox {
    background-color: #031a31;
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
    max-width: 155rem;
    z-index: 0;
    margin-top: -10rem;
    padding: 10rem 0;
    height: auto;
  }
  .containerProject {
    max-width: 100rem;
    margin: 0 auto;
    padding: 9rem 3.2rem;
  }
  .containerProjectBox {
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem 3.2rem 0 3.2rem;
  }
  .projectsBox {
    text-align: center;
  }
  .projectNavigation {
    padding: 1.2rem 0 6.4rem 0;
  }
  .navProjects {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
  }
  .containerProjectsBoxCardsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: stretch;

    row-gap: 4.8rem;
  }
}
/* Bellow 400px */
@media (max-width: 25em) {
  .headingSecondary {
    font-size: 3.6rem;
    line-height: 1.5;
  }
  .containerProject {
    max-width: 100rem;
    margin: 0 auto;
    padding: 7rem 2.4rem;
  }
  .containerProjectBox {
    max-width: 100rem;
    margin: 0 auto;
    padding: 5rem 3.2rem 0 2.4rem;
  }
  .containerProjectsBoxCardsGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: stretch;
    row-gap: 3.2rem;
  }
}
